# dependencies
node_modules/
.pnp
.pnp.js

# builds
dist/
.next/
out/
build/

# turbo
.turbo/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
*.pem
.vscode/
.idea/

# testing / coverage
coverage/

# typescript incremental build info
*.tsbuildinfo
